.sentiment-analysis {
    padding: 20px;
    margin: auto;
    max-width: 800px;
}

.text {
    text-align: left;
    display: block;
    position: relative;
}

p.display {
    position: absolute;
    z-index: 0;
    padding: 10px;
    width: 100%;
}

p.display:hover {
    cursor: pointer;
}

.typing {
    z-index: 1;
    color: black;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.typing p {
    border: 1px solid #E9ECEF;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.activated {
    pointer-events: all;
}

.activated p {
    border-color: black;
}

.info {
    color: #575757;
    padding-bottom: 10px;
    text-align: center;
}

[contenteditable] {
    outline: 0px solid transparent;
}
  
.gray {
    color: lightgray;
}